/* Default colors */
body {
  --text-color: #25292f;
  --bkg-color: #f6f8fa;
}
/* Dark theme colors */
body.dark-theme {
  --text-color: #eef4ff;
  --bkg-color: #0e1117;
}

body{
	margin-left: 22%;
	margin-right: 22%;
	margin-top: 1%;
	margin-bottom:2%;
	background-color: var(--bkg-color);
	color: var(--text-color);
	font-family: 'Ubuntu', sans-serif;
	font-weight: 500;
}
@font-face{
	font-family: myFirstFont;
	src: url(fonts/placeholder.otf)
}
h1{
	font-size: 370%;margin-top: 0%; margin-bottom: 2%; font-weight: 700;
}

h3{
	font-size: 120%;margin-top: 2%;
}

p{
	font-size: 120%; font-family: 'Albert', sans-serif; font-weight: 500;
}

hr{margin-left: 22%;margin-right: 22%; height: 3px;border-style: none;background-color: var(--text-color)}

.spoiler-text {
  background: var(--text-color);
}

.title{
    display:flex;
    justify-content:space-between;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar {
	justify-content: space-between;
	justify-content: space-around;
	display: flex;
	list-style: none;
    text-align: center;
	border-radius: 30px;
	border-style: solid;
	border-color: var(--text-color);
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--bkg-color);
}

.navbar a {
    float:left;
    padding: 12px;
    color: var(--text-color);
    text-decoration: none;
    font-size: 17px;
    width: 50%; /* 2 links of equal widths */
    text-align: center;
}

.navbar a:hover {
    background-color: var(--text-color);
	color: var(--bkg-color);
	text-decoration: none;
}

.navbar a.active {
    background-color: var(--text-color);
	color: var(--bkg-color);
}

div.footer{
	margin-bottom: 15px;
	margin-left: 22%;
	margin-right: 22%;
    display: flex;
    justify-content:space-between;
	justify-content:space-around;
	align-items:center;
}


.footer a:hover{text-decoration: none;}

footer{
	position: fixed;
	float: left;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
	background-color: var(--bkg-color);
}

a{color: var(--text-color);}
a:link {text-decoration: none;}
a:visited {text-decoration: none;}
a:hover {text-decoration: underline;}
a:active {text-decoration: underline;}

a.hidden{color: var(--text-color)}
a.hidden:link{text-decoration: none}
a.hidden:visited{text-decoration: none}
a.hidden:hover{text-decoration: none}
a.hidden:active{text-decoration: none}

u{
	text-underline-offset:9px;
	color: var(--text-color);
}

	/* Side Column stuff */

.row{

}

.column {
    float: left;
}


/* Middle column */
.column.main {
    width: 65%;
    text-align: justify;
}

/* Places Column on the right */
.column.right {
    float: right;
    width: 30%;
    text-align:left;
    border-style: solid;
    border-spacing: inherit;
    border-radius:10px;
    padding: 0;
    border-color: var(--text-color)
}

.column.right > p{
	text-align:center;
	font-size: 110%;
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 8%;
	margin-top: 8%;
}

.btn-toggle {
	
}
